body{
	background-color: rgb(204, 204, 204);
	
}

h1, h2{
	text-align:center;
}

.list{
	width:600px;
	margin-left:25px;
}

ul{
	list-style-type:none;
	border:2px solid black;
	background-color:rgb(255, 255, 255);
	height:170px;
	border-radius:8px;
	
}

li {
	text-decoration:none;
	padding:8px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.player_one {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    padding: 20px; /* Adjust padding as needed */
    border-radius: 8px; /* Rounded corners */
}

video {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

audio {
    width: 100%;
}